table, th, td {
    height: 50px;
border: 1px solid black;
border-collapse: collapse;
}
th, td {
padding: 15px;
}

tr:nth-child(even) {
background-color: rgb(14, 101, 3);
}

th:nth-child(even),td:nth-child(even) {
background-color: rgb(14, 101, 3);
}
body{
    background-image: url(images.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.city{
    text-align: center;
    color: #ffffff;
    text-decoration:underline;

}
iframe{
    text-align: center;
    border: none;
}
a:link, a:visited {
background-color: #035e07;
color: rgb(0, 0, 0);
padding: 15px 25px;
text-align: center;
text-decoration: none;
display: inline-block;
}

a:hover, a:active {
background-color: rgb(0, 64, 255);
}
.town{
color: black;
text-align: center;
font-size: xx-large;
}
th, td {
padding: 15px;
}

tr:nth-child(odd) {
background-color: rgb(155, 15, 8);
}

th:nth-child(odd),td:nth-child(odd) {
background-color: rgb(155, 15, 8);
}
marquee{
color: rgb(223, 230, 12);
font-size: xx-large;
}